// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$primary: #2ea5ad; // Thats a sample how you could change a BootStrap variable.
$light: #fefefe;
$dark: #2b2b2b;
$accentr: rgba(221, 69, 69, 0.986);

// Bootstrap variables